* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
}

.main{
    /* border: 1px solid red; */
    margin-top: 3vw;
    padding: 2vw;
}

.heading_color {
    color: #272343;
}

.sub_heading {
    color: #DAD4B5;
    font-size: 1.3vw;
    text-align: center;
    font-weight: 800;
}

.heading {
    font-size: 3vw;
    text-align: center;
    font-weight: 900;
    margin-top: 2vw;
}

.btn-holder {
    display: flex;
    justify-content: center;
    /* background-color: #272343; */
}

.btn{
    margin: 1vw;
    min-width: 5vw;
    padding: 1vw;
    border-radius: 5px;
    font-weight: bold;
    color: #2d334a;
    cursor: pointer;
    /* border: none; */
}

.btn-yellow{
    background-color: #ffd803;
   
}

.btn-gray{
    background-color: #bae8e8;
    
}

.cards_holder{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vw;
    margin-bottom: 5vw;
}